  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#/caixas">Cadastrar</a></p>
      <p><a href="#/caixas/consultar">Consultar</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
    <h3 class="page-header">Caixa Eletr&ocirc;nico</h3>
  
  <form ng-submit="submit()">
  		<div class="row">
  	  <div class="form-group col-md-4">
  	  	<label for="exampleInputEmail1">Nome:</label>
  	  	<input type="text" class="form-control" id="nome" ng-model="caixa.nome" placeholder="Digite o nume">
  	  </div>
	</div>
  	  	<label for="exampleInputEmail1">Quantidade:</label>
	
	<div class="row">
  	  <div class="form-group col-md-2">
  	  	<input type="number" class="form-control" id="qtd10" ng-model="dez.quantidade" placeholder="Qtd.">
  	  </div> 
	 <div class="form-group col-md-1 center">
  	   	X
  	  </div>
  	  <div class="form-group col-md-3">
	   <img alt=""  class="img-responsive" src="img/10.jpg" />
	   </div>
	</div>
	
	<div class="row">
  	  <div class="form-group col-md-2">
  	  	<input type="number" class="form-control" id="qtd20" ng-model="vinte.quantidade" placeholder="Qtd.">
  	  </div> 
	 <div class="form-group col-md-1 center">
  	  	 X
  	  </div>
  	  <div class="form-group col-md-3">
		<img alt="" class="img-responsive" src="img/20.jpg" />
		</div>
	</div>
	
	
	<div class="row">
  	  <div class="form-group col-md-2">
  	  	<input type="number" class="form-control" id="qtd50" ng-model="cinquenta.quantidade" placeholder="Qtd.">
  	  </div>
 	  <div class="form-group col-md-1 center">
  	   		X
  	  </div>
  	  <div class="form-group col-md-3">
		<img alt=""  class="img-responsive" src="img/50.jpg" />
	  </div>
	</div>
	
	<div class="row">
  	  <div class="form-group col-md-2">
  	  	<input type="number" class="form-control" id="qtd100" ng-model="cem.quantidade" placeholder="Qtd.">
  	  </div>
  	  <div class="form-group col-md-1 center">
  	  	 X
  	  </div>
  	  <div class="form-group col-md-3">
		<img alt="" class="img-responsive" src="img/100.jpg"/>
  	  </div>
	</div>
	
	
	<hr />
	
	<div class="row">
	  <div class="col-md-12">
	  	<button type="submit" class="btn btn-primary">Salvar</button>
	  </div>
	</div>

  </form>
  
   
    </div>
    
    
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>