  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="/caixas">Cadastrar</a></p>
      <p><a href="/caixas/consultar">Consultar</a></p>
    </div>
    <div class="col-sm-8 text-left"> 
    <h3 class="page-header">Caixa Eletr&ocirc;nico</h3>
  
  <form action="index.html">
  		<div class="row">
  	  <div class="form-group col-md-4">
  	  	<label for="exampleInputEmail1">Nome:</label>
  	  	<input type="text" class="form-control" id="nome" placeholder="Digite o nume">
  	  </div>
  	  <button type="submit" class="btn btn-primary">pesquisar</button>
	</div>
	

  </form>
  
   
    </div>
    
    
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>