
<div class="row content">
	<div class="col-sm-2 sidenav"></div>
	<div class="col-sm-8 text-left">
		<h3 class="page-header">Saque</h3>

		<form ng-submit="sacar()">
			<div class="row">
				<div class="form-group col-md-4">
					<label for="exampleInputEmail1">Usu&aacute;rio:</label> 
					<select class="form-control" ng-model="saque.idUsuario">
						<option ng-repeat="u in usuarios" value="{{u.id}}">{{u.nome}}</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-4">
					<label for="exampleInputEmail1">Caixa Eletr&ocirc;nico:</label> 
					<select
						class="form-control" ng-model="saque.nomeCaixa">
						<option ng-repeat="ce in caixas">{{ce.nome}}</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-md-3">
					<label for="exampleInputEmail1">Valor:</label> <input type="number"
						class="form-control" id="saldo" ng-model="saque.valor"
						placeholder="Digite o saldo">
				</div>
			</div>


			<hr />

			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary">Enviar</button>
				</div>
			</div>

		</form>

		<div class="panel panel-default">

			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">Caixa Eletronico </span>
			</div>

			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Quantidade</th>
							<th>Nota</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="nota in notas | filter: q">
							<td><span ng-bind="nota.quantidade"></span></td>
							<td><img alt="" class="img-responsive"
								src="img/{{nota.valor}}.jpg" ng-if="nota.valor>0" /></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>



	</div>


	<div class="col-sm-2 sidenav">
		<div class="well">
			<p>ADS</p>
		</div>
		<div class="well">
			<p>ADS</p>
		</div>
	</div>
</div>